[package]
name = "tmf"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bencher = "0.1.5"
[features]
[[bench]]
name = "unaligned_rw"
harness = false
